* {
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
    margin-right: 2px;
}

.conatiner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    margin: 0 auto;
    
    
}

nav {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    outline: 1px solid whitesmoke;
}

.logo {
    font-size: 1.5rem;
    width: 60%;
    align-items: center;
    font-family: frijole;
    color: whitesmoke;
    
    
}

.navbar-links {
    width: 60%; 
    height: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    font-size: 1rem;
    font-family: frijole;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    width: 140px;
}

a {
    color: whitesmoke;
}

li:hover {
    transition: all 2s ease-in;
    background-color: red;
}
img {
    width: 35%;
    height: 100%;
    background-attachment: fixed;
    outline-style: groove;
}

p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    padding: 1rem;
    text-align: left;
    outline: 3px solid whitesmoke;
    font-family: frijole;
}

h2 {
    font-size: 1.5rem;
    font-family: frijole;
    color: red;
}

h3 {
    font-size: 2.0rem;
    font-family: frijole;
    color: red;
}

h4 {
    font-size: 2.0rem;
    font-family: frijole;
    color: red;
}

body {
    margin-left: 8px;
    display: BLOCK;
}

footer {
    text-align: center;
    font-size: 1.6rem;
}

h5 {
    font-size: 2.0rem;
    font-family: frijole;
    color: red;
}

h6 {
    font-size: 2.0rem;
    font-family: frijole;
    color: red;
}
